
  /***********/
 /* Globals */
/***********/

body {
	font-family: 'Segoe UI';
}
* { 
	box-sizing: border-box;
	margin: 0;
	/* outline: red dashed 1px; */
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: dodgerblue;
}
a:hover {
	color: skyblue;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
	margin: 0 8px 8px 8px;
	text-align: justify;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

section,
article {
	margin-bottom: 40px;
}
section section {
	margin-bottom: 24px;
}
section section section {
	margin-bottom: 8px;
}

kbd,
code {
	padding: 2px 4px;
	border-radius: 2px;
	background-color: whitesmoke;
}
code {
	font-size: larger;
}
kbd {
	border-radius: 4px;
	border: 1px solid gray;
}

figure {
	margin: 8px 0;
	overflow-x: auto;
}
figure > * {
	margin: 8px auto;
}
figure > img {
	display: block;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 40vh;
}
figure > table {
	display: table;
	max-width: 100%;
	min-width: 67%;
}
figure > p,
figure > q,
figure > output {
	display: block;
	text-align: center;
	min-width: fit-content;
}
figure > output {
	display: block;
}
figcaption {
	text-align: center;
}

input.error {
	border: 1px solid red;
	box-shadow: inset 0px 0px 40px -20px rgba(255, 0, 0, 0.5);
}

template {
	display: none !important;
}

summary > h1, 
summary > h2, 
summary > h3, 
summary > h4 {
	display: inline;
	margin: 0;
}





  /**********/
 /* Layout */
/**********/

body {
	min-height: 100vh;
	position: relative;
}

header {
	padding: 8px;
	background-color: royalblue;
	color: white;
}
header h1 {
	margin: 0;
}

nav {
	border-bottom: dashed lightblue 1px;
}
nav ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul > li {
	flex-grow: 1;
}
nav ul > li a {
	display: inline-block;
	padding: 4px 12px;
	width: 100%;
}

main {
	margin: 0 auto;
	padding: 20px 0;
}

/* Keeping footer at bottom of the page, even if content is shorter */
main::after {
	content: "";
	padding-bottom: 4rem;
	display: inline-block;
}

footer {
	/* Keeping footer at bottom of the page, even if content is shorter */
	position: absolute;
	bottom: 0;
	width: 100%;
	height: fit-content;

	display: flex;
	justify-items: center;
	align-items: center;

	border-top: dashed lightblue 1px;
}





  /***********/
 /* Helpers */
/***********/

.nice-container {
	width: 100%;
}
@media (min-width: 800px) {
	.nice-container {
		width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
}
@media (min-width: 1200px) {
	.nice-container {
		width: calc(1200px - 32px);
	}
}

table.nice-table {
	border-collapse: collapse;
}
table.nice-table,
table.nice-table > thead > tr > th,
table.nice-table > tbody > tr > td {
	border: 1px solid black;
}
table.nice-table > thead > tr > th,
table.nice-table > tbody > tr > td {
	padding: 4px;
	text-align: center;
}
table.nice-table > thead > tr {
	background-color: #DFEFFF;
}
table.nice-table > thead > tr > th {
	font-weight: 600;
}
table.nice-table > tbody > tr:nth-child(odd) {
	background-color: whitesmoke;
}





  /****************/
 /* Experimental */
/****************/

/* Scroll bars for Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #c4c4c4 #eaeaea;
}
/* Scroll bars Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	height: 10px;
	width: 10px;
}
*::-webkit-scrollbar-corner {
	background: #eaeaea;
}
*::-webkit-scrollbar-thumb {
	border: 1px solid #c4c4c4;
	background: #c4c4c4;
}
*::-webkit-scrollbar-thumb:hover {
	background: #6e6e6e;
}
*::-webkit-scrollbar-track {
	border: 1px solid #eaeaea;
	background: #eaeaea;
}





  /**************/
 /* Dark theme */
/**************/

body.dark {
	background-color: #222222;
	color: white;
}
body.dark kbd,
body.dark code {
	background-color: #333333;
}
body.dark table.nice-table > thead > tr {
	background-color: royalblue;
}
body.dark table.nice-table,
body.dark table.nice-table > thead > tr > th,
body.dark table.nice-table > tbody > tr > td {
	border: 1px solid gray;
}
body.dark table.nice-table > tbody > tr:nth-child(odd) {
	background-color: #333333;
}

/* Scroll bars for Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #606060 #393939;
}
/* Scroll bars Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	height: 10px;
	width: 10px;
}
*::-webkit-scrollbar-corner {
	background: #393939;
}
*::-webkit-scrollbar-thumb {
	border: 1px solid #393939;
	background: #606060;
}
*::-webkit-scrollbar-thumb:hover {
	background: #868686;
}
*::-webkit-scrollbar-track {
	border: 1px solid #393939;
	background: #393939;
}




