
  /******************/
 /* Specific stuff */
/******************/

#darkModeControl {
	cursor: pointer;
	user-select: none;
}

footer address {
	margin: auto;
	padding: 8px;
	font-weight: 400;
	font-style: italic;
	letter-spacing: 0.5px;
	text-align: center;
	white-space: nowrap;
}



.controls {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 8px 16px;
}
.controls > * {
	margin: 0 8px 0 0;
	padding: 4px 8px;
}
.controls > *:last-child {
	margin: 0;
}



#game {
	display: grid;
	grid-template-areas: 
		'h'
		'c'
		'a'
		's'
		'r'
	;
}
@media (min-width: calc(960px - 32px)) {
	#game {
		grid-template-columns: 0.6fr 0.4fr;
		grid-template-areas: 
			'h h'
			'c r'
			'a r'
			's r'
		;
	}
}
#game > h2 {
	grid-area: h;
}
#game > .controls {
	grid-area: c;
	flex-direction: column;
}
#game > .controls > label > span:first-of-type {
	display: inline-block;
	min-width: 200px;
	text-align: end;
	padding-right: 4px;
}
#game > figure {
	grid-area: a;
}
#game > .right {
	grid-area: r;
}
#game > .strategy {
	grid-area: s;
}

#game > .strategy .nodes {
	font-size: smaller;
}
#game > .strategy .nodes details,
#game > .strategy .nodes li {
	padding-left: 2em;
}
#game > .strategy .nodes summary {
	cursor: pointer;
	list-style: none;
	padding: 2px;
}
#game > .strategy .nodes summary::before {
	cursor: pointer;
	display: inline-block;
	padding-right: 0.5em;
	content: '►';
	transform: scaleY(2) translateY(-0.033em);
	line-height: 0.5em;
}
#game > .strategy .nodes details[open] > summary::before {
	content: '▼';
	transform: initial;
}
#game > .strategy .nodes li {
	list-style: none;
}
#game > .strategy .nodes li::before {
	display: inline-block;
	padding-right: 0.5em;
	content: '◼';
}

#game table {
	min-width: auto;
	box-shadow: 0 0 16px -4px rgba(0, 0, 0, 0.7);
	border-collapse: collapse;
}
#game table > tbody > tr > td {
	width: 4rem;
	height: 4rem;
	border: 1px black solid;
	text-align: center;
	font-size: 2.5rem;
	font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
}

#game table > tbody > tr > td.highlight {
	background: lightgray;
}
#game table > tbody > tr > td.highlight:hover {
	background: gray;
}

#game table.placing > tbody > tr > td {
	cursor: pointer;
}
#game table.placing > tbody > tr > td.filled {
	cursor: default;
}
#game table.placing > tbody > tr > td:hover {
	background: #DFEFFF;
}
#game table.placing > tbody > tr > td.filled:hover {
	background: white;
}

#game table.moving > tbody > tr > td.owned {
	cursor: grab;
}
#game table.moving > tbody > tr > td.owned:hover {
	background: #DFEFFF;
}
#game table.moving > tbody > tr > td.target {
	background: lightgray;
}

#game .messages {
	font-size: smaller;
	/* list-style: none; */
}

